$violet:rgba(136, 123, 220, 0.8);
$violet-hover:rgba(136, 123, 220, 0.5);
$black: rgba(0, 0, 0, 0.8);
$black-hover: rgba(0, 0, 0, 0.7);

.calendar {
   padding-bottom: 40px;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 25px;

   border-bottom: 2px solid $violet;

   user-select: none;


   &-footer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      font-size: 22px;
   }

   &-button {
      width: 200px;
      height: 50px;
   
   
      background: $violet;
      border: none;
      border-radius: 25px;
   
      font-size: 17px;
      color: white;
      text-transform: uppercase;

      cursor: pointer;
      transition: all 0.5s ease-out;

      &:hover {
         letter-spacing: 3px;
         background: $violet-hover;
      }
   }
}

.body-calendar {
   display: flex;
   gap: 10px;
}

.cell {
   width: 80px;
   height: 100px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

   cursor: pointer;
   background-color: white;
   border-radius: 7px;
   transition: 0.5s ease-out;

   .day-name {
      font-size: 18px;
      font-weight: 500;
   }

   .day-number {
      font-size: 22px;
      font-weight: bold;
   }
}

.not-selected:hover {
   background-color: $black-hover;
   color: white;
   transition: 0.5s ease-out;
}

.selected {
   background-color: $black;
   color: white;
}

.today-selected {
   background-color: $violet;
   color: white;
}

.today {
   background-color: $violet-hover;
   color: white;

   &:hover {
      background-color: rgba(136, 123, 220, 0.7)
   }
}


