$black: rgba(0, 0, 0, 0.8);
$violet:rgba(136, 123, 220, 0.8);
$violet-hover:rgba(136, 123, 220, 0.5);

.App {

   color: $black;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;

   a {
      color: $black;
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
   }

   .header {
      height: 100px;
      background-color: white;

      display: flex;
      align-items: center;
      justify-content: center;

      &__wrapper {
         width: 1000px;

         display: flex;
         align-items: center;
         justify-content: space-between;

         &-links {
            margin-right: 5%;

            display: flex;
            align-items: center;
            justify-content: space-around;

            .header-link {
               margin-right: 5px;
               padding-left: 10px;
               padding-right: 10px;
               transition: all 0.5s ease-out;

               &:hover {
                  background-color: $violet-hover;
               }
            }

            .current-page {
               background-color: $violet;
            }

         }

      }
   }

   .main {
      min-height: 100vh;

      background-color: rgb(243,239,238);
      
      h3 {
         color: $violet;
         font-weight: bold;
         font-size: 40px;
         letter-spacing: 5px;
      }

      .information {
         display: flex;
         align-items: center;
         justify-content: center;

         font-size: 20px;

         &__wrapper {
            padding-top: 2%;
            padding-left: 4%;
            padding-right: 4%;
            width: 1000px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &-item {
               position: relative;
               padding-bottom: 5%;

               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               gap: 20px;

               text-align: center;  

               img {
                  position: relative;
                  height: 475px;
                  width: 900px;

                  filter: blur(2px);
                  opacity: 0.9;
                  object-fit: cover;
                  object-position: bottom;

                  border-radius: 50px;
               }


               > h2 {
                  position: absolute;
                  top: 285px;

                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;
               }

               .button-welcome {
                  background-color: white;
                  color: $violet;

                  &:hover {
                     color: white;
                  }
               }
            }
         }

         &-button {
            width: 200px;
            height: 50px;
            
            display: flex;
            justify-content: center;
            align-items: center;
         
            background: $violet;
            border: none;
            border-radius: 25px;
         
            font-size: 17px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;

            transition: all 0.5s ease-out;
      
            &:hover {
               letter-spacing: 3px;
               background: $violet-hover;
            }
         }

         &__about {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 60px;


            &-item {
               position: relative;
               height: 100vh;
               width: 100%;

               display: flex;

               &:nth-child(2) {
                  justify-content: flex-end;

                  div {
                     position: absolute;
                     left: 0%;
   
                     max-width: 600px;
                  }
               }

               &:nth-child(3) {
                  justify-content: center;

                  img {
                     height:  375px;
                     width: 100%;
                  }

                  div {
                     position: absolute;
                     left: 0%;
   
                     max-width: none;
                     text-align: center;
                  }
               }

               &:nth-child(5) {
                  justify-content: flex-end;

                  div {
                     position: absolute;
                     left: 0%;
   
                     max-width: 600px;
                  }
               }

               img {
                  position: relative;
                  padding-top: 25px;
                  height: 375px;
                  width: 600px;

                  filter: blur(2px);
                  opacity: 0.5;
                  object-fit: cover;
                  object-position: bottom;

                  border-radius: 50px;
               }

               div {
                  position: absolute;
                  top: 40%;
                  left: 50%;

                  max-width: 600px;

                  span {
                     color: $violet;
                  }
               }

               > .information-button {
                  position: absolute;
                  top: 88%;
                  left: calc(50% - 100px);
               }

               .button-to-courses {
                  width: 250px;
                  left: calc(50% - 125px);

                  &:hover {
                     background-color: white;
                     color: $violet;
                  }
               }
            }
         }
      }

      .timetable {
         display: flex;
         align-items: center;
         justify-content: center;

         &__wrapper {
            width: 1000px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
         }

         &__courses {
            padding-top: 60px;
         }

      }

      .courses {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         &__wrapper {
            padding-top: 5%;
            width: 1000px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
         }
      }

      .achievements {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         &__wrapper {
            padding-top: 5%;
            width: 1000px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
         }
      }
   }

   .footer {
      height: 200px;
      background-color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;

      &__wrapper {
         width: 1000px;

         display: flex;
         align-items: center;
         justify-content: space-between;
      }


   }

}



